[submodule "modules/zotero"]
	path = modules/zotero
	url = git@github.com:Juris-M/zotero.git
	branch = jurism
[submodule "modules/abbrevs-filter"]
	path = modules/abbrevs-filter
	url = git@github.com:Juris-M/abbrevs-filter.git
[submodule "modules/myles"]
	path = modules/myles
	url = git@github.com:Juris-M/myles.git
[submodule "modules/zotero-odf-scan"]
	path = modules/zotero-odf-scan
	url = git@github.com:Zotero-ODF-Scan/zotero-odf-scan.git
[submodule "modules/bluebook-signals-for-zotero"]
	path = modules/bluebook-signals-for-zotero
	url = git@github.com:Juris-M/bluebook-signals-for-zotero.git
